*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* admin panel css */
#admin-panel{
    height: 100vh;
    width: 100%;
}

#sidebar{
    padding: 15px;
    display: flex ;
    flex-direction: column;
    gap: 20px;
    color: white;
    float: left;
}

.navbar-nav .nav-item:hover{
    background-color: aquamarine;
    border-radius: 50px;
    color: black;
}
.navbar-nav .nav-item{
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
    padding-bottom:5px;

}
#navbar-list{
gap: 15px;
}
.cursor{
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

 tbody tr, td {
font-size:12px;

}

th {
    background-color: #f2f2f2;
}
td {
    background-color: #f2f2f2;
}

.hidden{
    display: none;
}
a{
    text-decoration: none;
    color: #fff;
}